body{
    background-color: #D93D04;
    margin: 0px;
    font-family: 'Verdana', sans-serif;
}
#tituloMenuLogin{
    font-size: 400%;
    background-color: #F28B0C;
    text-align: center;
}
#links{
    text-align: center;
    
}
.linkMenu{
    color: #323E40;
    font-size: 250%;
    text-decoration: none;
}
.botonLinkMenu{
    background-color: #F2BC79;
    margin: 40px;
    padding: 40px;
}
.linkMenu:hover{
    color: white;
    transition: color 0.5s ease-in;
}